@font-face {
  font-family: 'Prospectus Pro XL Bold';
  src: url('/fonts/ProspectusPro/ProspectusXLBld.otf')
    format('opentype');
}

@font-face {
  font-family: 'Prospectus Pro S Regular';
  src: url('/fonts/ProspectusPro/ProspectusSReg.otf')
    format('opentype');
}

@font-face {
  font-family: 'Prospectus Pro S Thin';
  src: url('/fonts/ProspectusPro/ProspectusSThn.otf')
    format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* set base same as 10px */
  background-color: #e6e6e6;

}

body {
  font-family: 'Prospectus Pro S Regular';
  font-size: 1.6rem;
}

h1, h2, h3 {
  font-family: 'Prospectus Pro XL Bold';
}

.search-form {
  display: flex;
  width: 35rem;
}

.search-box {
  flex: 3 0 0;
  font-family: 'Prospectus Pro S Regular';
  font-size: 1.6rem;
  text-align: center;
  height: 3.4rem;
  border-radius: .8rem;
  border: solid #057692 .1rem;
  background: rgba(255, 255, 255, 0.781);
}

.btn {
  font-family: 'Prospectus Pro S Regular';
  font-size: 1.6rem;
  color: #fff;
  border-radius: .8rem;
  border: solid #057692 .1rem;
  background-image: linear-gradient(
    to bottom,
    #07aed8,
    #057692);
}

.btn-search {
  font-family: 'Prospectus Pro S Thin';
  flex: 1 0 0;
  height: 3.4rem;
}

.btn-sort {
  font-family: 'Prospectus Pro S Thin';
  height: 2.5rem;
  width: 11rem;
  font-size: 1.4rem;
}

.btn-clear, .btn-active {
  font-family: 'Prospectus Pro S Thin';
  height: 2.5rem;
  width: 11rem;
  font-size: 1.4rem;
  background-image: linear-gradient(
    to bottom,
    #b95d79,
    #8b3a52);
  border: solid #8b3a52 .1rem;
}

.btn-back {
  font-family: 'Prospectus Pro S Thin';
  height: 2.5rem;
  width: 11rem;
  font-size: 1.4rem;
}

.single-result {
  margin-bottom: 2rem;
  border: solid #f0f0f0 .3rem;
  padding: 1rem;
  background-color: #fff;}

.result-title {
  color: #057692;
  cursor: pointer;
  font-size: 1.7rem;
}

.book-wrapper {
  display: flex;
  margin-top: 3rem;
}

.cover-art {
  flex: 1 0 0;
}

.cover-art img {
  width: 100%;
}

.book-details {
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.book-description {
  margin-top: 1rem;
}

.metadata {
  color: #929292;
}

#home, #header {
  color: #fff;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #241c0875,
    #42310175),
    url('/images/library_wallpaper.jpg');
  background-size: cover;
  background-position: center;
}

/* Home Landing Page */

#home {
  font-size: 6rem;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#home .search-form {
  width: 40rem;
}

#home .search-box, #home .btn {
  height: 4rem;
  font-size: 1.7rem;
  border-radius: 1rem;
}

/* Search Results Header */

#header {
  justify-content: space-around;
  height: 25vh;
}

#header h2 {
  font-size: 6rem;
}

/* Search Results Content */

#content {
  margin: 2rem 10%;
}

#search {
  display: flex;
}

#sort-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#filters {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
}

#main {
  flex: 3 0 0;
  margin-left: 4rem;
  border-left: solid #fff .2rem;
  padding-left: 4rem;
}

/* Single Book View */

#book-view {
  display: flex;
  flex-direction: column;
  border: solid #f0f0f0 .3rem;
  padding: 3rem;
  background-color: #fff;
}

/* Media Queries */

@media screen and (max-width: 850px) {
  #header {
    flex-direction: column;
    justify-content: center;
  }

  #search {
    flex-direction: column;
  }

  #filters, #main {
    flex: none;
  }

  #filters {
    height: 15rem;
  }

  #main {
    margin: 2rem 0 0 0;
    border-top: solid #fff .2rem;
    border-left: none;
    padding: 2rem 0 0 0;
  }

  .book-wrapper {
    flex-direction: column;
  }

  .cover-art {
    flex: none;
    align-self: center;
  }

  .book-details {
    flex: none;
    padding-top: 2rem 0 0 0;
  }

}
