@font-face {
  font-family: 'Prospectus Pro XL Bold';
  src: url('/fonts/ProspectusPro/ProspectusXLBld.otf')
    format('opentype');
}

@font-face {
  font-family: 'Prospectus Pro S Regular';
  src: url('/fonts/ProspectusPro/ProspectusSReg.otf')
    format('opentype');
}

@font-face {
  font-family: 'Prospectus Pro S Thin';
  src: url('/fonts/ProspectusPro/ProspectusSThn.otf')
    format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* set base same as 10px */
  background-color: #e6e6e6;

}

body {
  font-family: 'Prospectus Pro S Regular';
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

h1, h2, h3 {
  font-family: 'Prospectus Pro XL Bold';
}

nav {
  background-color: #2d231a;
  overflow: hidden;
}

nav li {
  list-style-type: none;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #e6e6e6;
  color: #2d231a;
}

nav a.active {
  background-color: #e6e6e6;
  color: #2d231a;
}

main {
  margin-top: 210px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2rem;
}

label {
  margin-bottom: 0.75rem;
}

select {
  cursor: pointer;
}

select, input {
  font-family: 'Prospectus Pro S Regular';
  font-size: 1.6rem;
  height: 3.4rem;
  min-height: 20px;
  width: 100%;
  border: solid #057692 .1rem;
  background: rgba(255, 255, 255, 0.781);
  padding: 5px;
  margin-bottom: 1.3rem;
}

.home-subtext {
  font-size: 3rem;
  padding: 1rem;
}

.header-title a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
}

.search-form {
  display: flex;
  width: 35rem;
}

.search-box {
  font-size: 1.6rem;
  text-align: center;
  border-radius: .8rem;
  height: 3.4rem;
}

.search-button {
  height: 3.4rem;
  border-radius: 0;
  padding: 0px 10px;
  border: solid #057692 .1rem;
  background-image: linear-gradient(
    to bottom,
    #07aed8,
    #057692);
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.btn {
  font-family: 'Prospectus Pro S Regular';
  font-size: 1.6rem;
  color: #fff;
  border-radius: 0;
  /* border-radius: .8rem; */
  border: solid #057692 .1rem;
  background-image: linear-gradient(
    to bottom,
    #07aed8,
    #057692);
}

.btn-search {
  font-family: 'Prospectus Pro S Thin';
  flex: 1 0 0;
  height: 3.4rem;
}

.btn-sort {
  font-family: 'Prospectus Pro S Thin';
  height: 2.5rem;
  width: 11rem;
  font-size: 1.4rem;
}

.btn-clear, .btn-active {
  font-family: 'Prospectus Pro S Thin';
  height: 2.5rem;
  width: 11rem;
  font-size: 1.4rem;
  background-image: linear-gradient(
    to bottom,
    #b95d79,
    #8b3a52);
  border: solid #8b3a52 .1rem;
}

.btn-icon {
  font-family: 'Prospectus Pro S Thin';
  height: 2.5rem;
  width: 3.5rem;
  font-size: 1.4rem;
  background-image: linear-gradient(
    to bottom,
    #b95d79,
    #8b3a52);
  border: solid #8b3a52 .1rem;
}

.btn-back {
  font-family: 'Prospectus Pro S Thin';
  height: 2.5rem;
  width: 11rem;
  font-size: 1.4rem;
}

.single-result {
  margin-bottom: 2rem;
  border: solid #f0f0f0 .3rem;
  padding: 1rem;
  background-color: #fff;
}

.result-title button {
  all: unset;
  color: #057692;
  cursor: pointer;
  font-size: 1.7rem;
}

.book-wrapper {
  display: flex;
  margin-top: 3rem;
}

.cover-art {
  flex: 1 0 0;
}

.cover-art img {
  width: 100%;
}

.book-details {
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.book-description {
  margin-top: 1rem;
}

.metadata {
  color: #929292;
}

.vote-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 20px;
}

#home, #header {
  color: #fff;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #241c0875,
    #42310175),
    url('/images/library_wallpaper.jpg');
  background-size: cover;
  background-position: center;
}

/* Home Landing Page */

#home {
  font-size: 6rem;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#home .search-form {
  width: 40rem;
}

#home .search-box {
  flex: 3 0 0;
  height: 4rem;
  font-size: 1.7rem;
  border-radius: 1rem;
}

#home .btn {
  height: 4rem;
  font-size: 1.7rem;
  border-radius: 1rem;
}

/* Search Results Header */

#header {
  justify-content: space-around;
  height: 20vh;
}

#header h2 {
  font-size: 6rem;
}

/* Search Results Content */

#search {
  display: flex;
}

#filters {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-width: 33%;
}

#main {
  flex: 3 0 0;
  margin-left: 4rem;
  border-left: solid #fff .2rem;
  padding-left: 4rem;
}

/* Single Book View */

#book-view {
  display: flex;
  flex-direction: column;
  border: solid #f0f0f0 .3rem;
  padding: 3rem;
  background-color: #fff;
}

/* Media Queries for Tablet */

@media screen and (max-width: 850px) {
  #header {
    flex-direction: column;
    justify-content: center;
  }

  #search {
    flex-direction: column;
  }

  #filters, #main {
    flex: none;
  }

  #filters {
    max-width: 100%;
  }

  #main {
    margin: 2rem 0 0 0;
    border-top: solid #fff .2rem;
    border-left: none;
    padding: 2rem 0 0 0;
  }

  .book-wrapper {
    flex-direction: column;
  }

  .cover-art {
    flex: none;
    align-self: center;
  }

  .book-details {
    flex: none;
    padding-top: 2rem 0 0 0;
  }

}

/* Media Queries for Mobile */

@media screen and (max-width: 510px) {
  #home {
    font-size: 4rem;
  }

  #home .search-form {
    flex-direction: column;
    width: 25rem;
  }
}
